Crash Driver IEPD (Concrete Extension)/xsd/niem/domains/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/7.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:aamva_d20="http://release.niem.gov/niem/codes/aamva_d20/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="AAMVA" literal="The American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="ACD" literal="AAMVA Code Dictionary"/>
      <appinfo:LocalTerm term="ADA" literal="Americans with Disabilities Act"/>
      <appinfo:LocalTerm term="AFIS" literal="Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="Alpha" definition="Letter(s)"/>
      <appinfo:LocalTerm term="Amber" literal="America's Missing: Broadcast Emergency Response"/>
      <appinfo:LocalTerm term="ANSID20" literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="APCO" literal="Association of Public-Safety Communications Officials (APCO) - International, Inc."/>
      <appinfo:LocalTerm term="BAC" literal="Blood Alcohol Concentration"/>
      <appinfo:LocalTerm term="BOP" literal="Bureau of Prisons"/>
      <appinfo:LocalTerm term="BPH" literal="Board of Parole Hearings"/>
      <appinfo:LocalTerm term="Brady" literal="Brady Law"/>
      <appinfo:LocalTerm term="CDL" literal="Commercial Driver's License"/>
      <appinfo:LocalTerm term="CFR" definition="Code of Federal Regulations"/>
      <appinfo:LocalTerm term="CHRI" literal="Criminal History Record Information"/>
      <appinfo:LocalTerm term="CJIS" literal="Criminal Justice Information System"/>
      <appinfo:LocalTerm term="CLP" literal="Commercial Learners Permit"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="CODIS" literal="Combined DNA Index System"/>
      <appinfo:LocalTerm term="COMPAS" literal="Correctional Offender Management Profiling for Alternative Sanctions"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="DHS" literal="Department of Homeland Security"/>
      <appinfo:LocalTerm term="DMH" literal="Department of Mental Health"/>
      <appinfo:LocalTerm term="DNA" literal="Deoxyribonucleic acid"/>
      <appinfo:LocalTerm term="DOT" literal="Department of Transportation"/>
      <appinfo:LocalTerm term="EMS" literal="Emergency Medical Service"/>
      <appinfo:LocalTerm term="Enhanceable" definition="An enhanceable offense means that specific factors can increase the severity level of the offense."/>
      <appinfo:LocalTerm term="FBI" literal="Federal Bureau of Investigation"/>
      <appinfo:LocalTerm term="FCN" literal="file control number"/>
      <appinfo:LocalTerm term="FFL" literal="federal firearms license"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="GDEP" literal="Geographic-Drug Enforcement Program"/>
      <appinfo:LocalTerm term="GVWR" literal="gross vehicle weight rating"/>
      <appinfo:LocalTerm term="HazMat" literal="Hazardous Materials"/>
      <appinfo:LocalTerm term="HME" literal="Hazardous Material Endorsement"/>
      <appinfo:LocalTerm term="HRSO" literal="high risk sex offender"/>
      <appinfo:LocalTerm term="IAFIS" literal="Integrated Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="IBIS" literal="Integrated Ballistic Identification System"/>
      <appinfo:LocalTerm term="ICC" literal="Interstate Commerce Commission"/>
      <appinfo:LocalTerm term="ISBN" literal="International Standard Book Number"/>
      <appinfo:LocalTerm term="JABS" literal="JABS" definition="Joint Automated Booking System"/>
      <appinfo:LocalTerm term="Keyhea" definition="Under the Keyhea injunction, 'involuntary medication' cannot be administered to a state prisoner for more than three days unless the professional staff of the facility in which the prisoner is incarcerated has analyzed the prisoner's condition and found that the prisoner is, as a result of a mental disorder, 'gravely disabled and incompetent to refuse medication or a danger to others, or a danger to self,' and the prisoner has been 'advised of the need for, but has not been willing to accept medication on a voluntary basis.'"/>
      <appinfo:LocalTerm term="LEOKA" literal="Law Enforcement Officer Killed or Assaulted"/>
      <appinfo:LocalTerm term="LIS" literal="License Plate State"/>
      <appinfo:LocalTerm term="Livescan" definition="An inkless, electronic means of capturing fingerprints in a digitized format and then transmitting them to a state repository and/or the FBI"/>
      <appinfo:LocalTerm term="LSTA" definition="State/Country Index"/>
      <appinfo:LocalTerm term="MACR" literal="Monthly Arrest and Citation Register"/>
      <appinfo:LocalTerm term="MCMIS" literal="Motor Carrier Management Information System"/>
      <appinfo:LocalTerm term="MCO" literal="Manufacturer's certificate of origin"/>
      <appinfo:LocalTerm term="MCSIP" literal="Motor Carrier Safety Improvement Process"/>
      <appinfo:LocalTerm term="MDO" literal="mentally disordered offender"/>
      <appinfo:LocalTerm term="MHSDS" literal="Mental Health Services Delivery System"/>
      <appinfo:LocalTerm term="MMUCC" literal="Model Minimum Uniform Crash Criteria"/>
      <appinfo:LocalTerm term="MO" literal="Modus Operandi"/>
      <appinfo:LocalTerm term="ModusOperandi" literal="Mode of operating"/>
      <appinfo:LocalTerm term="Multi" literal="Multiple"/>
      <appinfo:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <appinfo:LocalTerm term="NCMEC" literal="National Center for Missing &amp; Exploited Children"/>
      <appinfo:LocalTerm term="NDEX" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NDEx" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NIBRS" literal="National Incident Based Reporting System"/>
      <appinfo:LocalTerm term="NICB" literal="National Insurance Crime Bureau"/>
      <appinfo:LocalTerm term="NICS" literal="National Instant Criminal Background Check System"/>
      <appinfo:LocalTerm term="NLETS" literal="National Law Enforcement Telecommunication Systems"/>
      <appinfo:LocalTerm term="OCA" literal="Originating Case Agency"/>
      <appinfo:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <appinfo:LocalTerm term="POST" literal="Peace Official Standards and Training"/>
      <appinfo:LocalTerm term="Postdirectional" definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="Predirectional" definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="PRISM" literal="Performance and Registration Information Systems Management"/>
      <appinfo:LocalTerm term="REALID" definition="Public Law 109–13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism."/>
      <appinfo:LocalTerm term="RES" literal="Registration State"/>
      <appinfo:LocalTerm term="RH" definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells."/>
      <appinfo:LocalTerm term="RICO" literal="Racketeer Influenced and Corrupt Organizations"/>
      <appinfo:LocalTerm term="SAFESTAT" literal="Safety Status Measurement System"/>
      <appinfo:LocalTerm term="Separatee" literal="A person who must be kept separate from another person."/>
      <appinfo:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TCD" literal="traffic control device"/>
      <appinfo:LocalTerm term="TCN" literal="Transaction Control Number"/>
      <appinfo:LocalTerm term="TripleI" literal="III - Interstate Identification Index system"/>
      <appinfo:LocalTerm term="TSA" definition="Transportation Security Administration"/>
      <appinfo:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <appinfo:LocalTerm term="TYPA" literal="(Article) Type"/>
      <appinfo:LocalTerm term="TYPO" literal="(ORI) Type"/>
      <appinfo:LocalTerm term="UCR" literal="Uniform Crime Reporting"/>
      <appinfo:LocalTerm term="USDOT" literal="United States Department of Transportation"/>
      <appinfo:LocalTerm term="USMS" literal="United States Marshal Service"/>
      <appinfo:LocalTerm term="VICAP" literal="Violent Criminal Apprehension Program"/>
      <appinfo:LocalTerm term="VIN" literal="Vehicle Identification Number"/>
      <appinfo:LocalTerm term="VINA" literal="Vehicle Identification Number Analysis"/>
      <appinfo:LocalTerm term="WHTI" literal="Western Hemisphere Travel Initiative"/>
      <appinfo:LocalTerm term="XRay" literal="X-Ray"/>
      <appinfo:LocalTerm term="XRays" literal="X-Rays"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/aamva_d20/5.0/" schemaLocation="../codes/aamva_d20.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="../adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeFelonyIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashDriverType">
    <xs:annotation>
      <xs:documentation>A data type for a motor vehicle driver involved in a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashPassengerType">
    <xs:annotation>
      <xs:documentation>A data type for a motor vehicle passenger involved into a Traffic Accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashPersonType">
    <xs:annotation>
      <xs:documentation>A data type for any person involved in a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CrashPersonInjury" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CrashPersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashType">
    <xs:annotation>
      <xs:documentation>A data type for a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DrivingIncidentType">
        <xs:sequence>
          <xs:element ref="j:CrashVehicle" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CrashPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashVehicleType">
    <xs:annotation>
      <xs:documentation>A data type for a motor vehicle involved in a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:CrashDriver" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CrashPassenger" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseCardIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DrivingIncidentType">
    <xs:annotation>
      <xs:documentation>A data type for details of an incident involving a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:IncidentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MetadataType">
    <xs:annotation>
      <xs:documentation>A data type for information that further qualifies the kind of data represented.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:MetadataType">
        <xs:sequence>
          <xs:element ref="j:CriminalInformationIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:IntelligenceInformationIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonChargeAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JuvenileAsAdultIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonChargeAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Charge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFelonyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge refers to a felony offense; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Crash" type="j:CrashType">
    <xs:annotation>
      <xs:documentation>A traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashDriver" type="j:CrashDriverType" nillable="true">
    <xs:annotation>
      <xs:documentation>A motor vehicle driver involved into a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPassenger" type="j:CrashPassengerType" nillable="true">
    <xs:annotation>
      <xs:documentation>A motor vehicle passenger involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPerson" type="j:CrashPersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CrashPersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPersonInjury" type="nc:InjuryType" nillable="true">
    <xs:annotation>
      <xs:documentation>An injury received by a person involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashVehicle" type="j:CrashVehicleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A motor vehicle involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalInformationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the information specified is classified as criminal information; false if it is not classified as criminal information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DriverLicenseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjurySeverityCode" type="aamva_d20:AccidentSeverityCodeType" substitutionGroup="nc:InjurySeverityAbstract">
    <xs:annotation>
      <xs:documentation>A severity of an injury received by a person, such as in a traffic accident or crash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IntelligenceInformationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the information specified is intelligence information; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileAsAdultIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a juvenile is to be processed as an adult; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Metadata" type="j:MetadataType" appinfo:appliesToTypes="structures:AssociationType structures:ObjectType">
    <xs:annotation>
      <xs:documentation>Information that further qualifies the kind of data represented.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonChargeAssociation" type="j:PersonChargeAssociationType">
    <xs:annotation>
      <xs:documentation>An association between a person and a charge issued to that person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonChargeAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonChargeAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
