Crash Driver IEPD/niem (old)/domains/jxdm/6.0/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/6.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:aamva_d20="http://release.niem.gov/niem/codes/aamva_d20/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/aamva_d20/4.0/aamva_d20.xsd" namespace="http://release.niem.gov/niem/codes/aamva_d20/4.0/"/>
  <xs:import schemaLocation="../../../niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
  <xs:import schemaLocation="../../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:ChargeFelonyIndicator" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashDriverType">
    <xs:annotation>
      <xs:documentation>A data type for a motor vehicle driver involved in a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashPassengerType">
    <xs:annotation>
      <xs:documentation>A data type for a motor vehicle passenger involved into a Traffic Accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashPersonType">
    <xs:annotation>
      <xs:documentation>A data type for any person involved in a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:CrashPersonInjury" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashType">
    <xs:annotation>
      <xs:documentation>A data type for a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DrivingIncidentType">
        <xs:sequence>
          <xs:element ref="j:CrashVehicle" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:CrashPerson" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashVehicleType">
    <xs:annotation>
      <xs:documentation>A data type for a motor vehicle involved in a traffic accident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:CrashDriver" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:CrashPassenger" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseCardIdentification" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:DriverLicenseAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DrivingIncidentType">
    <xs:annotation>
      <xs:documentation>A data type for details of an incident involving a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:IncidentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JusticeMetadataType">
    <xs:annotation>
      <xs:documentation>A data type for information that further qualifies the kind of data represented.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:MetadataType">
        <xs:sequence>
          <xs:element ref="j:CriminalInformationIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:IntelligenceInformationIndicator" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonChargeAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:Charge" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:JuvenileAsAdultIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonChargeAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Charge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFelonyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge refers to a felony offense; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Crash" type="j:CrashType" nillable="true">
    <xs:annotation>
      <xs:documentation>A traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashDriver" type="j:CrashDriverType" nillable="true">
    <xs:annotation>
      <xs:documentation>A motor vehicle driver involved into a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPassenger" type="j:CrashPassengerType" nillable="true">
    <xs:annotation>
      <xs:documentation>A motor vehicle passenger involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPerson" type="j:CrashPersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashPersonInjury" type="nc:InjuryType" nillable="true">
    <xs:annotation>
      <xs:documentation>An injury received by a person involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashVehicle" type="j:CrashVehicleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A motor vehicle involved in a traffic accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalInformationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the information specified is classified as criminal information; false if it is not classified as criminal information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DriverLicenseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjurySeverityCode" type="aamva_d20:AccidentSeverityCodeType" substitutionGroup="nc:InjurySeverityAbstract">
    <xs:annotation>
      <xs:documentation>A severity of an injury received by a person involved into a Traffic Accident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IntelligenceInformationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the information specified is intelligence information; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JusticeMetadata" type="j:JusticeMetadataType" nillable="true" appinfo:appliesToTypes="structures:AssociationType structures:ObjectType">
    <xs:annotation>
      <xs:documentation>Information that further qualifies the kind of data represented.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileAsAdultIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a juvenile is to be processed as an adult; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonChargeAssociation" type="j:PersonChargeAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and a charge issued to that person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonChargeAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonChargeAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
